<div class="card">
  <div class="card-header">
    <h1>Listagem de Categorias</h1>
  </div>

  <br>

  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Id position -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let categoria"> {{categoria.id}} </td>
      </ng-container>

      <!-- Nome position -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> NOME </th>
        <td mat-cell *matCellDef="let categoria"> {{categoria.nome}} </td>
      </ng-container>

      <!-- Descrição position -->
      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef> DESCRIÇÃO </th>
        <td mat-cell *matCellDef="let categoria"> {{categoria.descricao}} </td>
      </ng-container>

      <!-- Ações column -->
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> AÇÕES </th>
        <td mat-cell *matCellDef="let categoria">
          <div>
            <button mat-button color="primary" (click)="editar(categoria)">Editar</button>
            <button mat-button color="warn" (click)="deletar(categoria)">Excluir</button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
</div>
